<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="soarm"> 

    <!-- Wrap everything in a macro -->
    <xacro:macro name="soarm_ros2_control" params="is_sim">
        <xacro:arg name="is_sim" default="true" />
        <!-- Convert arg into property -->
        <xacro:property name="is_sim_prop" value="$(arg is_sim)"/>

        <xacro:property name="PI" value="3.14159"/>
        <xacro:property name="RAD_CONV" value="0.001533979"/>

        <!-- Test with bypassing Gazebo Plugins -->
        <!-- <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware> -->

        <ros2_control name="SO_ARM101" type="system">
            <!-- ros2_control Gazebo -->
            <xacro:if value="${is_sim_prop}">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </hardware>

            </xacro:if>

            <!-- ros2_control Real Robot -->
            <xacro:unless value="${is_sim_prop}">
                <hardware>
                    <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
                    <param name="port">/dev/ttyACM0</param>
                </hardware>
            </xacro:unless>

            <joint name="gripper_joint">
                <!--Send commands to hardware-->
                <command_interface name="position">
                    <param name="min">-0.174533</param>
                    <param name="max">0.174533</param>

                </command_interface>
                <!--Read Feedback from hardware-->
                <state_interface name="position"/>
                <state_interface name="velocity"/>

            </joint>

            <joint name="wrist_roll">
                <command_interface name="position">
                    <param name="min">${-7*PI/8}</param>
                    <param name="max">${7*PI/8}</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="wrist_flex">
                <command_interface name="position">
                    <!-- <param name="min">${-PI/2}</param>
                    <param name="max">${PI/2}</param> -->
                    <param name="min">-1.2</param>
                    <param name="max">1.2</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="elbow_flex">
                <command_interface name="position">
                    <!-- <param name="min">${-5*PI/9}</param>
                    <param name="max">${PI/2}</param> -->
                    <param name="min">${-PI}</param>
                    <param name="max">0</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="shoulder_lift">
                <command_interface name="position">
                    <!-- <param name="min">${-5*PI/9}</param>
                    <param name="max">${5*PI/9}</param> -->
                    <param name="min">-0.3</param>
                    <param name="max">${PI}</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="shoulder_pan">
                <command_interface name="position">
                    <param name="min">${-3*PI/5}</param>
                    <param name="max">${3*PI/5}</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>


        </ros2_control>

    </xacro:macro>

</robot>